.category-title {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    padding: 10px 30px;
}

.padding30 {
    padding: 0px 30px;
}

.ant-card {
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
}