@import '~antd/dist/antd.css';
@import "~bootstrap/scss/bootstrap";

:root {
    --primary-color: #3b7ef2;
    --heading-color: #2d303e;
    --sub-text: #888888;
}


.heading-text {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
}

.white-color {
    color: white !important;
}

.capitalize {
    text-transform: uppercase !important;
}

.cursor {
    cursor: pointer;
}

.sub-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
}

.padding-main {
    padding: 20px 40px;
}

// Margin Styling
.md10 {
    margin-top: 10px;
}

.md20 {
    margin-top: 20px;
}

.md50 {
    margin-top: 50px;
}

.md100 {
    margin-top: 100px;
}

.md200 {
    margin-top: 200px;
}

.auto {
    margin: 0 auto;
    justify-content: center;
}